<html>
<head>
<title>Random Fact Pig Latin Mashup</title>
</head>
<body>
    <h1>English</h1>
    <p>{{ input }}</p>
    <h1>Pig Latin</h1>
    <p>{{ output }}</p>
    <h1>Reference URL</h1>
    <a href={{ url }}>See Translation on Pig Latinizer Site</a>
</body>
</html>
